html {
    background: url(../img/jungle_background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Luckiest Guy', sans-serif;
    overflow: hidden;
}

input{
    height: 10vh;
    text-align: center;
    font-size: 8vh;
    font-family: 'Luckiest Guy', cursive;
}

.light{
    
}

.dark{
    background:rgba(0,0,255,.5);
}

button{
    margin: 10px;
    border-radius: 10%;
    background: white;
}

h1{
    font-size: 6vh;
    margin: 5px;
}

.pet-container{
    width: 100vw;
    height: 80vh;
}

.pet{
    /*absolute positioning needed for movement*/
    position: absolute;
    height: 15vw;
    width: 25vw;
    top: 0px;
    left: 0px;
}

.name-row{
    position: absolute;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-top: -10vh;
}

.button-row, .display-row{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pop-up{
    position: fixed;
    width: 50vw;
    height: 40vh;
    background-color: rgb(248, 241, 220);
    border: 5px solid black;
    border-radius: 5%;
    margin-top: -70vh;
    margin-left: 25vw;
    font-size: 6vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.row{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden{
    display: none;
}

#close-pop{
    width: 5vw;
    height: 5vw;
    align-self: flex-end;
}

.party-hat{
    position: absolute;
    width: 5vw;
    height: 10vh;
}

#bowl{
    position: fixed;
    width: 10vw;
    top: 70vh;
    left: 30vw;
}

.mouse-tail{
    position: fixed;
    height: 40vh;
    width: 1vw;
    background-color: gray;
    left: 45vw;
    top: 0;
    transform-origin: top center;
    animation-name: mouse-swing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.mouse{
    position: relative;
    height: 20vh;
    top: 38vh;
    left: -3vw;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mouse-swing {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  
  /* Standard syntax */
  @keyframes mouse-swing {
    from {transform: rotate(0deg);}
    to {transform: rotate(15deg);}
  }



